@media screen and (max-width: 824px) 
{
  
    /* Add a black background color to the top navigation */
  .mobileHeader
  {
    scroll-behavior: auto;
    position: fixed;
    z-index: 100;
    background: #1c1c1c;
    /* border: hotpink 2px solid; */
    left: 0;
    top: 0;
    width: 100%;
  }

  .nav-container .primary-wrapper 
  {
    display: none;
  }

  /* Style the links inside the navigation bar */
   /* Add an active class to highlight the current page */
  .active 
  {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidenav 
  {
    display: none;
  }

  .evensection 
  {
    width:auto;
    margin:15px;
  }

  .oddsection 
  {
    width:auto;
    margin:15px;
  } 

  /* This accounts for the logo and nav at the top when using anchor links */
  span
  {
    display: block; 
    content: " "; 
    height: 250px;      
    margin-top: -250px;   
    visibility: hidden; 
    pointer-events: none;
  }
  /* Hides desktop version of the slide */
  .desktopSlide
  {
    display: none;
  }
  /* Shows mobile version of the slide */
  .mobileSlide
  {
    margin-top: 260px;
    display:flex;
  }
  /* Adjusts size of slideshow for mobile */
  .slideshow-container 
  {
    width: 100%;
    margin-left: 0;
  }
  /* 1 image version of the slideshow */
  .mySlidesMobile
  {
    z-index: -1;
    max-width: 300px;
    max-height: 300px;
  }
 

}

@media screen and (max-width: 823px) 
{ 
  .nav li { 
    display:inline; 
    font-size: 11px;
    color: whitesmoke;
  }
  .home {
    color:#256697;
  }
  .why {
   color: #dd3448;
  }
  .learn {
    color:#f8b700;
  }
  .packages {
    color:#ff5216;
  }
  .nav a {
    display:inline-block;
    padding:10px 25px 25px;
    border-bottom:1px solid #ccc;
    margin-bottom:-1px;
    text-align:center;
  }
  .headerLogo
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: hotpink 2px solid; */
  }

  .logo
  {
    width: 175px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
 
  }

  .mobileSlide
  {
    margin-top: 240px;
    display:flex;
  }
  
  .nav-container.primary-wrapper 
  {
    display: none;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #4CAF50;
    color: white;
  }

  /* this adjusts the width of text on mobile to fill the screen */
  .text
  {
      width:100%;
  }
  /* this alternates image and text in the wrap */
  .rimage 
  {
    order: -1;
  }
}    

@media only screen and (max-width: 300px) 
{
  .logo
  {
    height: 50px;
  }

  .mobileSlide
  {
    margin-top: 75px;
  }
  .text 
  {
    margin: 20px;
  }
  .evensection
  {
      width:100%;  
      margin-left: 0;
  }
  .oddsection 
  {
      width:100%;
      margin-left: 0;
  }
  .desktopSlide
  {
      display: none;
  }
  .mobileSlide
  {
      display:flex;
      margin-left: 0;
  }
  .rimage 
  {
    height: 175px;
    width: 175px;
    margin: 5px;
  }
  /* Images that float left */
  .limage 
  {
      height: 175px;
      width: 175px;
      margin: 5px;
  }
}
  




  